open_document_embedded_from_current_path o
open_prev_doc O

toggle_freehand_drawing_mode f
set_freehand_type c
clear_current_page_drawings dd
clear_current_document_drawings dD
delete_freehand_drawings df
delete_freehand_drawings <C-z>

goto_toc t
toggle_statusbar <C-n>
zoom_in  =
zoom_out -
prev_state <C-o>
next_state <C-i>
next_page <C-f>
previous_page <C-b>
search ?
toggle_dark_mode <C-r>
