#
# ░█░█░█▀▀░█░█░█▀▀░░░░░█░█░█▀▀░█▀▀░█▀▄░░░░█▀▀░█▀█░█▀█░█▀▀
# ░█▀▄░█▀▀░░█░░▀▀█░░░░░█░█░▀▀█░█▀▀░█▀▄░░░░█░░░█░█░█░█░█▀▀
# ░▀░▀░▀▀▀░░▀░░▀▀▀░▀▀▀░▀▀▀░▀▀▀░▀▀▀░▀░▀░▀░░▀▀▀░▀▀▀░▀░▀░▀░░

open_all_docs                            o
open_document_embedded_from_current_path .
open_last_document ^
quit q

toggle_freehand_drawing_mode             f
toggle_custom_color                      cc
goto_next_tab                            gt
goto_prev_tab                            gT
add_annot_to_highlight                   A
undo_drawing                             <C-z>
set_freehand_type                        x
delete_freehand_drawings                 df
toggle_statusbar                         <C-n>
select_freehand_drawings                 s
external_search                          e
set_page_offset                          ,

zoom_in                                  =
move_down_smooth j
move_up_smooth k
reload                                   r
_resize_                                 R
noop                                     <left>
noop                                     <space>
noop                                     <right>
noop                                     <up>
noop                                     <down>
noop                                     r
_extract_highlights                      E
# _add_text                                A
prev_state                               <C-o>
next_state                               <C-i>
next_page                                <C-f>
previous_page                            <C-b>
next_page                                <space>
previous_page                            <backspace>
search                                   ?
chapter_search                           c/
change_highlight                         ch
edit_visible_bookmark                    cb


toggle_scratchpad_mode                   ;
add_freetext_bookmark                    a
add_marked_bookmark                      `
_remove_annotations                      da

fit_to_page_width_ratio                 <f1>
fit_to_page_width                       <f2>
fit_to_page_width_smart                 <f3>
toggle_presentation_mode;toggleconfig_ignore_scroll_events <f5>
toggle_horizontal_scroll_lock           <f4>

# toggle_fastread
# when edit_selected_highlight and no highlight is selected crashes
#
#



## MENU SHORTCUTS
[m]control_menu(delete_prev_char) <C-h>
[m]control_menu(delete_prev_word) <C-w>
[m]control_menu(move_to_begin) <C-a>
[m]control_menu(move_to_end) <C-e>
[m]control_menu(down) <C-j>
[m]control_menu(up) <C-k>
