#skdjfksd fjsd
open_document_embedded_from_current_path O
open_prev_doc o

toggle_freehand_drawing_mode f
set_freehand_type x
clear_current_page_drawings dd
clear_current_document_drawings dD
delete_freehand_drawings df
delete_freehand_drawings <C-z>
select_freehand_drawings s
external_search e

goto_toc t
toggle_statusbar <C-n>
fit_to_page_width =
zoom_out -
prev_state <C-o>
next_state <C-i>
next_page <C-f>
previous_page <C-b>
search ?
toggle_dark_mode <C-r>
chapter_search c/
show_touch_main_menu z
goto_page_with_label gp
