resize_command _resize_
#startup_commands toggle_statusbar
background_color 0 0 0
always_copy_selected_text 1

super_fast_search 1
horizontal_scroll_lock 1
case_sensitive_search 0
page_separator_width 1
zoom_inc_factor         1.1
fit_to_page_width_ratio 0.75
flat_toc 1
collapsed_toc 1
fuzzy_searching 1
menu_screen_width_ratio 0.9

status_bar_font_size 11
freetext_bookmark_font_size 11

middle_click_command fit_to_page_width_ratio;

new_command _embed_annotations python -m sioyek.embed_annotations "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}"

new_command _extract_highlights python -m sioyek.extract_highlights "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%1" 1

new_command _extract_highlights_no_replacement python -m sioyek.extract_highlights "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%1" 0 

new_command _remove_annotations python -m sioyek.remove_annotation "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}" "%{selected_rect}"
new_js_command _resize_ resize.js

new_command _add_text_5 python -m sioyek.add_text "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}" "%{selected_rect}" "%{command_text}" fontsize=5

new_command _add_text python -m sioyek.add_text "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}" "%{selected_rect}" "%{command_text}" 

search_url_a    https://wiki.archlinux.org/title/
search_url_c    https://dictionary.cambridge.org/dictionary/english/
search_url_e    https://www.etymonline.com/search?q=
search_url_s	https://www.google.com/search?q=
search_url_h    https://github.com/search?q=
search_url_l    https://genius.com/search?q=
search_url_p    https://pinterest.com/search?q=
search_url_g	https://scholar.google.com/scholar?q=
search_url_w    https://www.wikipedia.org/w/index.php?title=Special:Search&search=
search_url_y    https://www.youtube.com/results?search_query=

status_bar_format %{chapter_name}%{search_results}%{presentation}

right_status_bar_format %{freehand_drawing} [%{current_page} / %{num_pages}]

annotations_directory /home/nikin/.local/share/sioyek/annotations

highlight_color_w	1.00 1.00 1.00
