page_separator_color 0.9 0.9 0.9
super_fast_search 1
case_sensitive_search 0
page_separator_width 8
zoom_inc_factor         1.1
emacs_mode_menus        1
startup_commands toggle_statusbar;fit_to_page_width;
fit_to_page_width_ratio 0.50
flat_toc 1
fuzzy_searching 1
menu_screen_width_ratio 0.7

right_click_command fit_to_page_width_ratio;

new_command _extract_highlights python -m sioyek.extract_highlights "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%1" %{zoom_level}


new_js_command _my_embed_command embed.js
new_js_command _my_resize_command resize.js
resize_command _my_resize_command


search_url_a    https://wiki.archlinux.org/title/
search_url_c    https://dictionary.cambridge.org/dictionary/english/
search_url_e    https://www.etymonline.com/search?q=
search_url_g	https://www.google.com/search?q=
search_url_h    https://github.com/search?q=
search_url_l    https://genius.com/search?q=
search_url_p    https://pinterest.com/search?q=
search_url_s	https://scholar.google.com/scholar?q=
search_url_w    https://www.wikipedia.org/w/index.php?title=Special:Search&search=
search_url_y    https://www.youtube.com/results?search_query=


