/*
 * Do not remove the @namespace line -- it's required for correct functioning
 */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#nav-bar {
    height: 0px !important;
    min-height: 0px !important;
    overflow: hidden !important;
}

#sidebar-close,
#statuspanel,
#TabsToolbar {
  visibility: collapse !important; 
}

#back-button,
#forward-button {
  display: none !important; 
}

#PanelUI-menu-button {
  display: none; 
}

/* The following line of code stores a cookie that always starts youtube on
 * theater mode without the need of any kind of third-party plugins
 * document.cookie = 'wide=1; expires='+new Date('3099').toUTCString()+'; path=/';
 */


