/*
 * Do not remove the @namespace line -- it's required for correct functioning
 */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");



#nav-bar {
  /* customize this value. */
  --navbar-margin: -38px;
  margin-top: var(--navbar-margin);
  margin-bottom: 0;
  z-index: -100;
  transition: all 0.3s ease !important;
  opacity: 0;
  background-color: rgba(0,0,0,0.8) !important;
}

#navigator-toolbox:focus-within > #nav-bar {
  margin-top: 0;
  margin-bottom: var(--navbar-margin);
  z-index: 100;
  opacity: 1;
}

#urlbar-container { 
    visibility: hidden !important; 
  }

#statuspanel * {
  width: 100vw;
}

/*#TabsToolbar,*/
.tabbrowser-tab .tab-close-button,
#sidebar-close {
  visibility: collapse !important; 
}

#back-button,
#forward-button {
  display: none !important; 
}

/* The following line of code stores a cookie that always starts youtube on
* theater mode without the need of any kind of third-party plugins
* document.cookie = 'wide=1; expires='+new Date('3099').toUTCString()+'; path=/';
*/


.browserContainer > findbar {
  -moz-box-ordinal-group: 0;
  position: fixed !important;
  left: 1em;
  right: auto !important;
  border: 1px solid threedshadow !important;
  width: 21.5rem;

  /* Hide the "border" at the top by removing the box-shadow and background-image */
  border-top: none !important;
  box-shadow: none !important;
  background-image: none !important;

  /* Uncomment to add a transition from the top */
  /*
  transition: 400ms !important;
  z-index: 0 !important;
  */
}

/* Margin from top when hidden (necessary for the transition to work) */
/*findbar[hidden]{ margin-top: -2em !important; }*/

/* Aligns the close button to the center */
.findbar-closebutton {
  margin-inline-start: 0.5em !important;
  vertical-align: middle !important;
  margin-bottom: 0.25em !important;
  height: inherit !important;
}

#statuspanel:not([hidden]){
  display: flex !important;
  padding-top: 0 !important;
  inset-inline: auto !important;
  min-width: unset !important;
  border-radius: 0px;
}

#statuspanel-label {
  border-width: 1px 1px 0px 1px !important;
  border-style: solid !important;
}

/* Uncomment this if you want the status panel to apper on top instead. */

/* #statuspanel:not([hidden]){
  inset-block: 0 auto !important;
}
#statuspanel-label {
  border-width: 0 1px 1px 1px !important;
} */

}
