**/tags
**/.tags
**/cache
**/autosave
**/command-history
**/search-history
**/lib.pl
**/packer_compiled.lua
local/bin/stop-ls
local/bin/downloadvids
**/surf
suckless-programs/dwm/dwm
config/nvim/lazy-lock.json
**/*.o
**/*.orig
**/*.rej
