/*
 * Do not remove the @namespace line -- it's required for correct functioning
 */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* only needed once */

#statuspanel {
  display: none !important;
}

#TabsToolbar {
  visibility: collapse; 
}

#navigator-toolbox {
  visibility: collapse;
}

#context-navigation,
#context-sep-navigation {
  display:none !important;
}

/*

#back-button,
#forward-button {
  display: none !important;
}

#PanelUI-menu-button {
  display: none;
}
/* #nav-bar { */
/*   /* customize this value. */ */
/*   --navbar-margin: -44px; */
/*   margin-top: var(--navbar-margin); */
/*   margin-bottom: 0; */
/*   border: none; */
/*   z-index: -100; */
/*   transition: all 0.3s ease !important; */
/*   opacity: 0; */
/*   background-color: rgba(0,0,0,0.8) !important; */
/* } */
/**/
/* #navigator-toolbox:focus-within > #nav-bar, */
/* #navigator-toolbox:hover > #nav-bar */
/* { */
/*   margin-top: 0; */
/*   margin-bottom: var(--navbar-margin); */
/*   z-index: 100; */
/*   opacity: 1; */
/* } */
