# Markdown

# The suffix `c` stands for "Clipboard".

snippet h1 
	<h1 align="center">${1:`substitute(expand('%:r'), '.*', '\u\0', '')`}$2</h1>
	$0
snippet cbl
	\`\`\`${1:language}
	${0:${VISUAL}}
	\`\`\`
snippet log
	\`\`\`
	Date : ${1:`strftime("%Y-%m-%d")`}
	Brand: ${2:Brand}
	Model: ${3:Model}
	Site : ${4:Site}
	Addr : ${5:Address}
	Rem  : ${6:Remarks}
	\`\`\`

	- ${7:Description of the problem}

	- ${8:Revision notes}

	- ${9:Checklist}

	- ${10:Suspicions}

	- ${11:Final Solution}

